

@import "tailwindcss";



/* Import font Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');




body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
}

.logo-carousel {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 2s linear infinite;
}

.logo-carousel:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-scroll-container {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}

.logo-track {
  display: inline-block;
  white-space: nowrap;
}

.logo-track img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logo-track img:hover {
  filter: grayscale(0%);
}


